$font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// colors
$primary-color: #FF592F;
$primary-light-color: #FF8769;
$gray-color: #A1AFC8;

// media breakpoints
// reference: https://getbootstrap.com/docs/5.0/layout/breakpoints/
$media-screen-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);