@import "~/styles/_variables.scss";

// UI components
@import "~/styles/ui/_button.scss";
@import "~/styles/ui/_button_icon.scss";

html {
  font-family: $font-family;
}

body {
  background-color: $primary-light-color;
}

.todo-container {
  min-height: 100vh;
  display: grid;
  place-items: center;

  .todo-card {
    background-color: white;
    padding: 2rem;
  }
}